<% include ../partials/header2 %>
<div class="row">
    <h2>Selected Product</h2>
     <div class="row">
  <div class="grid-container">
      <% res1.forEach(function(product) { %>
         <form accept-charset="UTF-8" action="/cart/ <%= product.id %>" method="post">
             <div class="item"><br>
                   <h1 class="itemp"><%= product.title %></h1>
                   <h1 class="itemp">Brand: <%= product.brand %></h1>
                   <image src ="/<%= product.image %>" class="pimage"></image>
                   <h1 class="itemp">Genre: <%= product.genre %></h1>
                   <h1 class="itemp">Description: <%= product.description %></h1>
                   <h1 class="itemp">Quality: <%= product.quality %></h1>
                   <h1 class="itemp">Price: €<%= product.price %></h1>
            </label>
            <button class="btn btn-warning">Add to Cart</button>
         </div>
         </form>   
    </div>
  <% }); %>
</div>
<% include ../partials/footer %>
</body>
</html>
